:root{
  --paddingElements: 2rem;
}

.jobs-selected .jobs-selected-title {
  padding: var(--paddingElements);
}

.jobs-selected-card {
  padding: var(--paddingElements);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-bottom: 0.125rem solid var(--color-grey-5);
  background-color: var(--color-grey-6);
}

.jobs-selected-card:hover {
  background-color: var(--color-grey-4);
}

.jobs-selected-card-title {
  height: 3.375rem;
  padding-right: var(--paddingElements);
}

.jobs-selected-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.jobs-selected-no-items{
  padding: var(--paddingElements);
}