.header {
  background-image: url(../../assets/img/header-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0;
  background-position: center top;
}

.header-main {
  max-width: 70%;
}

body {
  background-color: var(--color-grey-5);
}

main {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
  min-width: 100%;
  margin-bottom: 3rem;
}

.jobs {
  width: 60%;
}

.jobs-selected {
  background-color: var(--color-grey-6);
  width: 38%;
  position: sticky;
  border-radius: var(--radius-default);
  top: 2rem;
}

@media (max-width: 998px) {
  main {
    flex-direction: column;
    gap: 2rem;
  }
  .jobs {
    width: 100%;
  }

  .jobs-selected {
    width: 100%;
  }

  .header-main {
    max-width: 100%;
  }
}
